*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body{
     min-height: 100vh;
     max-width: 100%;
     display: flex;
     justify-content: center;
     justify-items: center;
     place-items: center;
     background: linear-gradient(45deg, #000000, #ffffff);
}

.calculator{
    padding: 15px;
    box-shadow:0 0 15px #000000 ;
    border: 2px solid rgb(198, 195, 195);
    border-radius: 20px;
}

.display input{
    width: 360px;
    border: none;
    outline: none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    color: #000000;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color: #ffffff;
}

button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    border: 0;
    border-radius: 50%;
    box-shadow: -5px -6px 15px #000;
    outline: 1px solid  #313131;
    outline-offset: 3px;
    cursor: pointer;
}

button:active{
    background: #000;
    transform: translate(2px, 2px);
}

.opr{
    color: #fbff00;
    background: #1e1919;
    font-weight: 700;
}

.abc{
    background: orangered;
    font-weight: 900;
}